body {
  /* background: rgb(235,235,235);
  background: linear-gradient(193deg, rgba(235,235,235,1) 30%, rgba(7,1,1,1) 52%); */
  background: rgb(233, 241, 244);
  background: linear-gradient(
    173deg,
    rgba(233, 241, 244, 1) 25%,
    rgba(0, 171, 228, 1) 57%
  );
}
.welcome {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  justify-content: center;
  height: 80vh;
  width: 98.7vw;

  /* background-color: aqua; */
  /* background-image: linear-gradient(to right, #e2e5ea 0%, #03ffff 100%); */
  /* background: linear-gradient(
    6deg,
    rgba(24, 192, 232, 1) 42%,
    rgba(255, 255, 255, 1) 90%
  );
   */

  color: rgb(0, 7, 12);

  border-bottom-left-radius: 90vw;
  border-bottom-right-radius: 90vw;
  align-items: center;
  gap: 5vw;
  z-index: 2;
}

.welcome > .w1 {
  display: block;
  justify-content: center;
  align-items: center;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 1.3vw;
  height: 40vh;
  width: 30vw;
  z-index: 2;
}
.welcome > .w2 > img {
  height: 30vw;
  width: 40vw;
  border-top-right-radius: 20vw;
  border-bottom-left-radius: 20vw;
  z-index: -2;
}

.SearchBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 40vw;
  gap: 5vh;
}

.S1 > h1 {
  font-family: "Raleway";
  font-size: 2vw;
}

.S1 {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  width: 80vw;
  border-radius: 40px;
  border: 10px solid rgb(4, 173, 235);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

.S3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.S2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 40vw;
  gap: 5vh;
}

.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
