
body
{
   margin: 0; 
}
#nav{
    
    /* background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);; */
    color: #1d1d1d;
    /* background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%); */
    /* background: linear-gradient(90deg, rgba(44,116,179,1) 46%, rgba(32,82,149,1) 90%); */
    background-color: #e9f1fa;
    display: flex;
    justify-content: start;
    align-items: center;
    gap:40vw;
    
    position : sticky;
    top : 0px;
    border-bottom: 10px solid rgb(0, 162, 255);
    z-index: 4;

}
.c1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.c1>h1{
    font-family: 'Rubik Doodle Shadow', system-ui;
    font-size: 3.5vw;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
    text-shadow: 10px 10px 10px #adabab;
}
.c1>h1:hover
{
    font-size:4vw;
}
.c2
{
    flex: 1;
    width: 40%;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    gap:6vw;
}

.c2>a{
    font-family: 'Inter';
    font-weight: 900;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-shadow: 3px 4px 6px #b8b7b7;
    font-size: 1.5vw;
}

.c2>a:hover
{
    display: flex;
    font-size: 1.5rem;
    padding-bottom: 2vh;
    border-bottom: 6px solid rgb(0, 162, 255);
    justify-content: center;
    color: #2C74B3;
    
}



.c1>img{
    margin-left: 30%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 6%;
    height: 4vw;
    width: 40%;
    border-radius: 70%;
    box-shadow: 10px 10px 5px black;
}

